[modify_input]

# ------------------------------------------------------------------------
# .cfg file with inputs for surdat_modifier.
#
# We advise users to make a copy of this file that they can change freely,
# rather than changing this "template" file.
#
# Variables with FILL_THIS_IN must be specified.
# Variables with UNSET may be specified; if not and
# - defaults = False, they will remain unused
# - defaults = True, they will take on default values hardwired in the
# code. Details in comments below.
# Variables with values already set, may be changed to other values. If
# they get omitted, they will obtain the same default values found here.
# ------------------------------------------------------------------------

# Path and name of input surface dataset (str)
surdat_in = FILL_THIS_IN

# Path and name of output surface dataset (str)
surdat_out = FILL_THIS_IN

# defaults (bool)
# When user wants existing values in surdat to persist in all except the
# variables that they explicitly request to change, then set this to False.
# When user wants default representation of the land by resetting all
# surdat variables, some through this file and others by using hardwired
# defaults, then set this to True. Hardwired values are as follows:
# glc_mask = [0] * self.months
# alb_gvd = [0.2] * self.months
# alb_svd = [0.8] * self.months
# alb_gnd = [0.3] * self.months
# alb_snd = [0.6] * self.months
# alb_gvf = [0.2] * self.months
# alb_svf = [0.8] * self.months
# alb_gnf = [0.3] * self.months
# alb_snf = [0.6] * self.months
# bucketdepth = [200] * self.months
# emissivity = [1] * self.months
# snowmask = [50] * self.months
# roughness = [0.1] * self.months
# evap_res = [100] * self.months
# soil_type = [0] * self.months
# soil_tk_1d = [1.5] * self.months
# soil_cv_1d = [2e6] * self.months
# glc_tk_1d = [2.4] * self.months
# glc_cv_1d = [1.9e6] * self.months
defaults = False

# Boundaries of user-defined rectangle (float)
# If lat_1 > lat_2, the code creates two rectangles, one in the north and
# one in the south.
# If lon_1 > lon_2, the rectangle wraps around the 0-degree meridian.
# Alternatively, user may specify a custom area in a .nc landmask_file
# below. If set, this will override the lat/lon settings.
# -----------------------------------
# southernmost latitude for rectangle
lnd_lat_1 = -90
# northernmost latitude for rectangle
lnd_lat_2 = 90
# westernmost longitude for rectangle
lnd_lon_1 = 0
# easternmost longitude for rectangle
lnd_lon_2 = 360
# User-defined mask in a file, as alternative to setting lat/lon values.
# If set, lat_dimname and lon_dimname should likely also be set. IMPORTANT:
# - lat_dimname and lon_dimname may be left UNSET if they match the expected
# default values 'lsmlat' and 'lsmlon'
landmask_file = UNSET
lat_dimname = UNSET
lon_dimname = UNSET

# Monthly values over the user-defined mask.
# Space-delimited list of 12 floats or int without brackets
# e.g., glc_mask = 1 1 1 1 1 1 1 1 1 1 1 1
# Any of the variables updated below by the user will be
# updated in the surdat_out file in the user-defined mask.
# if defaults = True and some of the following variables are UNSET, then they
# will default to the corresponding values listed above in the "defaults"
# comments, again only in the user-defined mask.
# if defaults = False and some of the following variables are UNSET, then they
# will remain unchanged from the surdat_in file.
# SOIL_TYPE accepts integer values from ? to ?.
glc_mask = UNSET
alb_gvd = UNSET
alb_svd = UNSET
alb_gnd = UNSET
alb_snd = UNSET
alb_gvf = UNSET
alb_svf = UNSET
alb_gnf = UNSET
alb_snf = UNSET
bucketdepth = UNSET
emissivity = UNSET
snowmask = UNSET
roughness = UNSET
evap_res = UNSET
soil_type = UNSET
soil_tk_1d = UNSET
soil_cv_1d = UNSET
glc_tk_1d = UNSET
glc_cv_1d = UNSET
