[mksurdat]

# ------------------------------------------------------------------------
# .cfg file with inputs for mksurdat.
#
# We advise users to make a copy of this file that they can change freely,
# rather than changing this "template" file.
#
# Variables with FILL_THIS_IN must be specified.
# Variables with UNSET may be specified; if not and
# Variables with values already set, may be changed to other values. If
# they get omitted, they will obtain the same default values found in this
# template file.
# ------------------------------------------------------------------------

# Path and name of first input history file (str)
# Example: /path/archive/i2000sp/lnd/hist/i2000sp.clm2.h0.0011-01.nc
history_in = FILL_THIS_IN

# Path and name of output surface dataset (str)
surdat_out = FILL_THIS_IN

# Number of history years that user wishes to average into the surface dataset.
# If left UNSET, this defaults to 1 year.
num_of_hist_yrs = UNSET
